// INDEX

  // BASE STYLES
  // HELPERS
  // LAYOUT
  // NAVIGATION AND/OR INDICATOR
      // INDICATOR
      // BUTTON
      // LANDING
  // PAGES
  // KEYFRAMES


// BASE STYLES ///////////////////////////////////
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #333;
  font-family: sans-serif;
  font-size: 16px;
}
h1 {
  color: cadetBlue;
  line-height: 1;
}
button {
  border-width: 0;
  border-style: none;
  padding: 0;
  outline: none;
}

// HELPERS ///////////////////////////////////
.helper-bold {
  font-weight: bold;
}

// LAYOUT ///////////////////////////////////
.main-container {
  position: relative;
  overflow: hidden;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: cornsilk;
  overflow: hidden;
  .page-item {
    margin-top: -100px;
  }
}


// INDICATOR ETC ///////////////////////////////////
.indicator-container {
  list-style-type: none;
  position: absolute;
  bottom: 45px;
  left: -14px;
  width: 20px;
  height: 80px;
  z-index: 20;
  .indicator {
    position: relative;
    margin-bottom: 10px;
    width: 12px;
    height: 12px;
    background: cornsilk;
    border-radius: 50%;
    opacity: .5;
    &.completed {
      opacity: 1;
    }
    &.current {
      opacity: 1;
      &:after {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        opacity: 0;
        width: 12px;
        height: 12px;
        border: 2px solid cornsilk;
        border-radius: 50%;
        animation: pulsate 1s;
        animation-iteration-count: 3;
        transform-origin: center center;
      }
    }
  }
}


.next-button {
  padding: 20px 19px 10px;
  font-size: 3em;
  font-weight: bold;
  background-color: rgba(6,153,182,1);
  background: filter-gradient(#0699b6, #0ebbb3, horizontal);
  background: background-image(linear-gradient(left top, rgba(6,153,182,1) 0%, rgba(14,187,179,1) 41%, rgba(22,222,175,1) 83%));
  color: cornsilk;
  border-radius: 50%;
  bottom: 0;
  position: absolute;
  margin-bottom: 5%;
  left: 50%;
  transform-origin: center center;
  transform-style: preserve-3D;
  margin-left: -43px;
  z-index: 19;
  transition: all 1s cubic-bezier(.17,.67,.68,1.21);

  &:hover {
    background: #0ebbb3;
    transform: rotate(360deg) scale(1.2);
    transition: transform .3s cubic-bezier(.17,.67,.68,1.21), background 1s ease-out;
  }
}


.initial-message {
  font-size: 8em;
  border-radius: 4px;
  padding: 10px 25px;
  margin-top: -100px;
  background: linear-gradient(330deg, #0699b6 0%, #0ebbb3 25%, #0699b6 50%, #0ebbb3 75%, #0699b6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity .2s cubic-bezier(.17,.67,.68,1.21);
  opacity: 1;
  animation: bounce 1s;
  animation-iteration-count: 1;
  animation-duration:2s;
  animation-fill-mode:both;
  &.fade-away {
    opacity: 0;
    transition: opacity .2s cubic-bezier(.17,.67,.68,1.21);
  }
  @media only screen and (max-width: 800px) {
    font-size: 5em;
  }
  @media only screen and (max-width: 600px) {
    font-size: 3em;
  }
}


// PAGES ///////////////////////////////////
.page-from-top {
  height: 0;
  background-color: lightblue;
  font-size: 5em;
  opacity: 0;
  color: cornsilk;
  transition: all .4s cubic-bezier(.17,.67,.68,1.21);
  &.active {
    height: 100vh;
    transition: opacity .1s .5s, height .6s cubic-bezier(.17,.67,.68,1.21) .5s;
    opacity: 1;
  }
  @media only screen and (max-width: 600px) {
    font-size: 3em;
  }
}

.page-from-left {
  left: -1440px;
  font-size: 2em;
  line-height: 1.3;
  background-color: mintcream;
  color: darken(lightblue, 10);
  transition: all 2s ease-out;
  .page-item {
    width: 70%;
    margin-top: -130px;
  }
  &.active {
    left: 0;
    transition: all .6s ease-out .3s;
    .page-item {
      opacity: 1;
      transition: opacity .2s cubic-bezier(.17,.67,.68,1.21) .6s;
    }
  }
  @media only screen and (max-width: 800px) {
    font-size: 1.5em;
  }
  @media only screen and (max-width: 600px) {
    font-size: 1.2em;
  }
}

.page-from-right {
  font-size: 5em;
  font-weight: bold;
  font-family: serif;
  line-height: 1.3;
  left: 1440px;
  background: linear-gradient(324deg, snow 4%,   transparent 4%) -70px 43px,
              linear-gradient( 36deg, snow 4%,   transparent 4%) 30px 43px,
              linear-gradient( 72deg, gainsboro 8.5%, transparent 8.5%) 30px 43px,
              linear-gradient(288deg, gainsboro 8.5%, transparent 8.5%) -70px 43px,
              linear-gradient(216deg, gainsboro 7.5%, transparent 7.5%) -70px 23px,
              linear-gradient(144deg, gainsboro 7.5%, transparent 7.5%) 30px 23px,

              linear-gradient(324deg, snow 4%,   transparent 4%) -20px 93px,
              linear-gradient( 36deg, snow 4%,   transparent 4%) 80px 93px,
              linear-gradient( 72deg, gainsboro 8.5%, transparent 8.5%) 80px 93px,
              linear-gradient(288deg, gainsboro 8.5%, transparent 8.5%) -20px 93px,
              linear-gradient(216deg, gainsboro 7.5%, transparent 7.5%) -20px 73px,
              linear-gradient(144deg, gainsboro 7.5%, transparent 7.5%) 80px 73px;
  background-color: snow;
  background-size: 100px 100px;
  transition: all 1s ease-out .5s;
  .page-item {
    position: relative;
    display: block;
    user-select: none;
    white-space: nowrap;
    cursor: default;
    position: relative;
    display: inline;
    white-space: pre-wrap;
    opacity: 1;
    width: 70%;
    text-align: center;
    margin-top: -100px;
    line-height: 1.4;
    color: #333;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: snow;
      transform: scaleY(1);
      transform-origin: 0 bottom;
      pointer-events: none;
    }
  }
  &.active {
    left: 0;
    transition: left .6s cubic-bezier(.17,.67,.68,1.21) .2s;
    .page-item:after {
      transform: scaleY(0);
      transition: all .3s cubic-bezier(.17,.67,.68,1.21) 1.5s;
    }
  }
  @media only screen and (max-width: 1000px) {
    font-size: 4em;
  }
  @media only screen and (max-width: 800px) {
    font-size: 3em;
  }
  @media only screen and (max-width: 600px) {
    font-size: 2em;
    .page-item {
      margin-top: 0;
    }
  }
}

.page-skew {
  height: 100vh;
  left: -1440px;
  color: cornsilk;
  font-size: 2em;
  transform: skewX(25deg);
  background-color: #439772;
  transition: all .2s ease-out;
  .page-item {
    transition: all .5s ease-in .2s;
    position: absolute;
    top: 240px;
    left: 190px;
    width: 50%;
  }
  &.active {
    left: 0;
    height: 1190px;
    transition: all .6s ease-in;
    transform: skewX(0);
  }
  @media only screen and (max-width: 1000px) {
    width: 120%;
    left: -1140px;
  }
  @media only screen and (max-width: 800px) {
    width: 140%;
    left: -900px;
  }
  @media only screen and (max-width: 600px) {
    width: 160%;
    left: -790px;
    .page-item {
      left: 50px;
    }
  }
  @media only screen and (max-width: 400px) {
    width: 180%;
    left: -700px;
    .page-item {
      width: 40%;
    }
  }
}

.page-waves {
  top: 900px;
  font-size: 6em;
  color: powderblue;
  background-color: transparent;
  transition: all .5s ease-in .6s;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 120%;
    height: 150%;
    background: linear-gradient(cornsilk 50%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, cornsilk 53%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, cornsilk 50%, rgba(255,255,255,0) 0) 55px 0 powderblue;
    background-size:110px 500px;
    background-repeat:repeat-x;
    animation: wavy 3s linear infinite;
  }
  .page-item {
    position: absolute;
    margin-top: -130px;
    margin-left: 20px;
    opacity: 0;
    transition: opacity .4s cubic-bezier(.17,.67,.68,1.21);
  }
  &.active {
    top: 0;
    transition: all .8s ease-in;
    .page-item {
      opacity: 1;
    }
  }
  @media only screen and (max-width: 1000px) {
    font-size: 5em;
  }
  @media only screen and (max-width: 800px) {
    font-size: 4em;
  }
}


// KEYFRAMES ///////////////////////////////////
@keyframes wavy {
  0% { transform: translate3d(0, 0, 0); }
  20% { transform: translate3d(5px, 5px, 0); }
  40% { transform: translate3d(5px, 10px, 0); }
  55% { transform: translate3d(10px, 10px, 0); }
  70% { transform: translate3d(10px, 5px, 0); }
  80% { transform: translate3d(5px, 5px, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

@keyframes pulsate {
  from { transform: scale(1); opacity: 1; transform-origin: center center; }
  to { transform: scale(1.5); opacity: 0; transform-origin: center center; }
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
